/* Create a common scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: #1e46a1;
  border-radius: 6px;
}   

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f5ce9;
}

